{%extends 'base.html'%}
{%block body%}
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>About</h2>
                    <p>Logis Shipping Service</p>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a href="{% url 'services:home'  %}">Home</a></li>
                <li>About Us</li>
            </ol>
        </div>
    </nav>
</div><!-- End Breadcrumbs -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4">
            {%for item in about%}
            <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
                <img src="{{item.image.url}}" class="img-fluid" alt="">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
            </div>
            <div class="col-lg-6 content order-last  order-lg-first">
                <h3>About Us</h3>
                <p>
                    {{item.about_us}}
                </p>
                <ul>
                    {%for item in services|slice:"0:4"%}
                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bi bi-diagram-3"></i>
                        <div>
                            <h5>{{item.name}}</h5>
                            <p>{{item.title}}</p>
                        </div>
                    </li>
                    {%endfor%}
                </ul>
            </div>
            {%endfor%}
        </div>

    </div>
</section><!-- End About Us Section -->

<!-- ======= Stats Counter Section ======= -->
<section id="stats-counter" class="stats-counter pt-0">
    <div class="container" data-aos="fade-up">


    </div>
</section><!-- End Stats Counter Section -->

<!-- ======= Our Team Section ======= -->
<section id="team" class="team pt-0">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <span>Our Team</span>
            <h2>Our Team</h2>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            {%for member in object_list|slice:"0:6" %}
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="member">
                    <img src="{{member.image.url}}" class="img-fluid" alt="">
                    <div class="member-content">
                        <h4>{{member.name}}</h4>
                        <span>{{member.job}}</span>
                        <p>
                            {{member.job_info}}
                        </p>
                        <div class="social">
                            <a href="{{member.facebook}}"><i class="bi bi-facebook"></i></a>
                            <a href="{{member.instagram}}"><i class="bi bi-instagram"></i></a>
                            <a href="{{member.linkedin}}"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End Team Member -->
            {%endfor%}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="bottom-paginate">
                    <p class="page-info">Showing 50 of {{all_count}} Results</p>
                    <ul class="pagination">

                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.previous_page_number}}">
                                <i class="fas fa-long-arrow-alt-left"></i>
                            </a>
                        </li>
                        {% endif %}



                        <li class="page-item"><a class="page-link active" style="width:130px; border-radius:10px"
                                href="#">
                                Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
                            </a></li>



                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{page_obj.next_page_number}}">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </li>
                        {% endif %}


                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
{%endblock%}